In [2]:
import pandas as pd

# Load the 'Sorted_MaveDB.csv' file
df_sorted_mavedb = pd.read_csv('Sorted_MaveDB.csv')

# Load the 'Sorted_Alpha_Test.csv' file
df_sorted_alpha_test = pd.read_csv('Sorted_Alpha.csv')

# Load the 'Cleaned_23andMe.csv' file
df_cleaned_23andme = pd.read_csv('Cleaned_23andMe.csv')

display(df_sorted_mavedb.head())
display(df_sorted_alpha_test.head())
display(df_cleaned_23andme.head())

   position Ref Alt  Functional score
0    396143   G   C             -0.16
1    396143   G   T              0.17
2    396143   G   G             -0.12
3    396143   G   A             -0.09
4    396144   G   G              0.34

   position Ref Alt  Functional score
0      3310   C   G                 1
1      3310   C   T                 1
2      3310   C   A                 1
3      3311   C   G                 1
4      3311   C   A                 1

   position Alt
0         3   T
1         7   A
2         9   G
3        26   C
4        26   C

In [3]:
# Merging 'df_cleaned_23andme' with 'df_sorted_mavedb' on 'position' and 'Alt'
df_23DB = pd.merge(df_cleaned_23andme, df_sorted_mavedb, on=['position', 'Alt'])
display(df_23DB)

     position Alt Ref  Functional score
0      396239   G   A             -0.49
1      396239   G   A             -0.49
2      396308   G   G              0.36
3      396308   G   G              0.36
4      396321   C   C              0.40
5      396321   C   C              0.40
6      396461   A   T              0.14
7      396461   A   T              0.14
8     1295125   C   G              0.04
9     1295125   C   G              0.07
10    1295125   C   G              0.04
11    1295125   C   G              0.11
12    1295125   C   G              0.04
13    1295125   C   G              0.07
14    1295125   C   G              0.04
15    1295125   C   G              0.11
16    5249841   C   G             -0.08
17    5249841   C   G             -0.08
18    5249937   T   G              0.15
19    5249937   C   G              0.15
20    5249998   A   G             -1.00
21   11089345   T   G              0.31
22   11089345   T   G              0.65
23   11089345   T   G              0.31
24   11089345   T   G              0.65
25   19723501   T   G              0.09
26   19723501   T   G              0.09
27   19723503   T   C             -0.05
28   19723503   C   C             -0.23
29   37807852   G   T             -0.46
30   37807852   G   T             -0.46
31   37807884   G   A             -0.07
32   37807884   G   A             -0.07
33   43086633   C   G              0.03
34   43086633   C   G              0.03
35   43086648   G   C             -0.12
36   43086648   A   C             -0.05
37   43086737   G   T             -0.18
38   43086928   G   C              0.14
39   43086928   G   C              0.14
40   43086944   A   C             -0.09
41   43086944   A   C             -0.09
42   60495124   T   A             -0.04
43   60495124   C   A             -0.03
44   97853619   C   T             -0.04
45  109275038   A   G              0.54
46  109275038   A   G              0.34
47  109275038   A   G              0.57
48  109275038   A   G              0.54
49  109275038   A   G              0.34
50  109275038   A   G              0.57
51  112998285   C   A             -0.06
52  112998285   C   A             -0.06
53  155301781   G   T             -0.50
54  155301781   G   T             -0.66
55  155301781   G   T             -0.50
56  155301781   G   T             -0.66
57  209816371   A   G              0.00
58  209816371   G   G              1.65

In [4]:
# Merging 'df_cleaned_23andme' with 'df_sorted_alpha_test' on 'position' and 'Alt'
df_23Alpha = pd.merge(df_cleaned_23andme, df_sorted_alpha_test, on=['position', 'Alt'])
display(df_23Alpha)

         position Alt Ref  Functional score
0            8860   G   A                 1
1            8860   G   A                 1
2           11149   C   G                -1
3           11149   C   G                -1
4           12344   C   T                 1
...           ...  ..  ..               ...
123912  247739213   A   T                 1
123913  248145644   C   T                 1
123914  248145644   C   T                 1
123915  248273555   T   C                 1
123916  248273555   T   C                 1

[123917 rows x 4 columns]

In [5]:
# Removing duplicate rows from 'df_23DB'
df_23DB.drop_duplicates(inplace=True)
display(df_23DB)

# Removing duplicate rows from 'df_23Alpha'
df_23Alpha.drop_duplicates(inplace=True)
display(df_23Alpha)

     position Alt Ref  Functional score
0      396239   G   A             -0.49
2      396308   G   G              0.36
4      396321   C   C              0.40
6      396461   A   T              0.14
8     1295125   C   G              0.04
9     1295125   C   G              0.07
11    1295125   C   G              0.11
16    5249841   C   G             -0.08
18    5249937   T   G              0.15
19    5249937   C   G              0.15
20    5249998   A   G             -1.00
21   11089345   T   G              0.31
22   11089345   T   G              0.65
25   19723501   T   G              0.09
27   19723503   T   C             -0.05
28   19723503   C   C             -0.23
29   37807852   G   T             -0.46
31   37807884   G   A             -0.07
33   43086633   C   G              0.03
35   43086648   G   C             -0.12
36   43086648   A   C             -0.05
37   43086737   G   T             -0.18
38   43086928   G   C              0.14
40   43086944   A   C             -0.09
42   60495124   T   A             -0.04
43   60495124   C   A             -0.03
44   97853619   C   T             -0.04
45  109275038   A   G              0.54
46  109275038   A   G              0.34
47  109275038   A   G              0.57
51  112998285   C   A             -0.06
53  155301781   G   T             -0.50
54  155301781   G   T             -0.66
57  209816371   A   G              0.00
58  209816371   G   G              1.65

         position Alt Ref  Functional score
0            8860   G   A                 1
2           11149   C   G                -1
4           12344   C   T                 1
5           12344   A   T                 0
6           14417   G   A                 1
...           ...  ..  ..               ...
123909  247605599   C   A                 1
123910  247605599   T   A                 1
123911  247739213   A   T                 1
123913  248145644   C   T                 1
123915  248273555   T   C                 1

[78118 rows x 4 columns]

In [6]:
# Dropping rows where 'Functional score' is greater than zero in 'df_23DB'
df_23DB = df_23DB[df_23DB['Functional score'] <= 0]
display(df_23DB)

# Dropping rows where 'Functional score' is greater than zero in 'df_23Alpha'
df_23Alpha = df_23Alpha[df_23Alpha['Functional score'] < 0]
display(df_23Alpha)

     position Alt Ref  Functional score
0      396239   G   A             -0.49
16    5249841   C   G             -0.08
20    5249998   A   G             -1.00
27   19723503   T   C             -0.05
28   19723503   C   C             -0.23
29   37807852   G   T             -0.46
31   37807884   G   A             -0.07
35   43086648   G   C             -0.12
36   43086648   A   C             -0.05
37   43086737   G   T             -0.18
40   43086944   A   C             -0.09
42   60495124   T   A             -0.04
43   60495124   C   A             -0.03
44   97853619   C   T             -0.04
51  112998285   C   A             -0.06
53  155301781   G   T             -0.50
54  155301781   G   T             -0.66
57  209816371   A   G              0.00

         position Alt Ref  Functional score
2           11149   C   G                -1
66          62646   C   T                -1
68          63799   T   C                -1
78          87416   A   C                -1
84         111030   C   G                -1
...           ...  ..  ..               ...
123863  241651018   G   A                -1
123873  241851177   G   T                -1
123880  243664820   G   C                -1
123882  243664857   T   G                -1
123884  245156511   A   G                -1

[24896 rows x 4 columns]

In [7]:
# Finding positions that appear in both 'df_23DB' and 'df_23Alpha'
common_positions = df_23DB[df_23DB['position'].isin(df_23Alpha['position'])]
display(common_positions)

    position Alt Ref  Functional score
29  37807852   G   T             -0.46

# Data Analysis Workflow

## Overview
This notebook outlines the step-by-step process of analyzing and merging data from different sources, specifically focusing on genetic data from 'Sorted_MaveDB.csv', 'Sorted_Alpha_Test.csv', and 'Cleaned_23andMe.csv'. The goal is to identify common genetic positions and assess their potential risks.

## Steps
1. **Data Loading**
   - Loaded 'Sorted_MaveDB.csv', 'Sorted_Alpha_Test.csv', and 'Cleaned_23andMe.csv' into separate pandas DataFrames.
   - Used `pd.read_csv()` function for reading the CSV files.

2. **Data Merging and Cleaning**
   - Merged 'df_cleaned_23andme' with 'df_sorted_mavedb' and 'df_sorted_alpha_test' based on 'position' and 'Alt' columns using `pd.merge()`.
   - Created '23DB' and '23Alpha' DataFrames to store these merged datasets.
   - Removed duplicate rows from both '23DB' and '23Alpha' using `drop_duplicates()`.
   - Dropped rows where 'Functional score' is greater than zero in both DataFrames.

3. **Data Analysis and Extraction**
   - Merged 'df_23DB' and 'df_23Alpha' into a single DataFrame 'Conclusion_Sheet'.
   - Extracted positions with repeated occurrences in 'Conclusion_Sheet' into 'Dangerous_Sheet'.
   - Identified positions common to both 'df_23DB' and 'df_23Alpha' and saved them in 'Dangerous_Sheet' using `isin()` function.

## Conclusion
The analysis provides insights into genetic positions that are common across different datasets and potentially carry risks, as indicated in the 'Dangerous_Sheet'. This approach is crucial for genetic research and understanding the implications of specific genetic variations.