In [1]:
import pandas as pd

# Load the data
file_path = 'MaveDV_data.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the dataframe
data.head()

   end_value Ref Alt  Functional score
0   60495533   T   G              0.13
1   60495534   C   A             -0.03
2   60495534   C   G             -0.02
3   60495534   C   T             -0.01
4   60495535   A   C             -0.15

In [2]:
# Sorting the data based on 'end_value' column
sorted_data = data.sort_values(by='end_value')

# Saving the sorted data into a new CSV file
sorted_file_path = 'Sorted_MaveDB.csv'
sorted_data.to_csv(sorted_file_path, index=False)

# Displaying the first few rows of the sorted dataframe
sorted_data.head()

       end_value Ref Alt  Functional score
10020     396143   G   C             -0.16
10131     396143   G   T              0.17
9288      396143   G   G             -0.12
9909      396143   G   A             -0.09
10242     396144   G   G              0.34

## Data Sorting and Exporting Process

The following steps were performed on the dataset from 'MaveDV_data.csv':

1. **Data Loading:** The dataset was loaded into a pandas DataFrame to enable easy manipulation and analysis.

2. **Data Inspection:** The DataFrame consists of four columns - 'Ref', 'end_value', 'Functional score', and 'Alt'. The 'end_value' column, which appears to be a key numerical identifier, was chosen for sorting.

3. **Sorting:** The data was sorted based on the 'end_value' column in ascending order. This ensures that the entries are organized from the smallest to the largest 'end_value'.

4. **Exporting Sorted Data:** The sorted data was then saved into a new CSV file named 'Sorted_MaveDB.csv'. This file contains the organized data, which can be used for further analysis or record-keeping.

These steps provide a systematic approach to handling and organizing the dataset for enhanced readability and usability.